.food_item{
    padding:10px;
    border: solid 1px;
    border-radius: 20px;
}
.food_item>div:nth-child(1){
    font-size: larger;
    padding: 3px;
}
.food_item>div:nth-child(2){
    font-size: smaller;
}
.food_item>div:nth-child(3){
    font-size: smaller;
}
.food_item>div:nth-child(4){
    font-size: smaller;
}
.food_container,.public_food_container{
    padding: 10px;
    border: solid 1px;
    width: fit-content;
    float:left;
    overflow:hidden; 
    overflow-y:scroll;
    height: 800px;
}
.add_food_container{
    padding: 10px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}