.food_item{
    padding:10px;
    border: solid 1px;
}
.food_item>div:nth-child(1){
    font-size: larger;
}
.food_item>div:nth-child(2){
    font-size: smaller;
}
.food_item>div:nth-child(3){
    font-size: smaller;
}
.food_item>div:nth-child(4){
    font-size: smaller;
}
.food_container{
    border: solid 1px;
    width: fit-content;
}